<div class="list-col-sm">
      <h3><%= roomitem.user.nickname %></h3>
      <%= category_image(roomitem.room_category.category_name) %>
      <p><%= roomitem.title %></p>
      <button type="button" class="btn btn-danger list-box-button">자세히 보기</button>
    </div>