<div class="index-mother">
    <div class="index-child container">
      <div class="index-title">자취길드</div>
      <div class="index-explain">심심한 자취생 모여라! 같이 놀자!</div>
      <button type="button" class="index-start btn-primary" onclick="location.href='<%= rooms_path %>'">시작하기</button>
    </div>
  </div>
